:root,
::after,
::before {
  --color-background: var(--bg);
  --color-primary: var(--p);
  --color-secondary: var(--s);
  --color-text: var(--t);
  --blue: #37a0f4;
  --white: #fff;
  --red: #ec4d3a;
  --shadow-low: 0px 2px 8px -2px rgb(0 0 0 / 16%);
  --shadow-medium: rgb(0 0 0 / 15%) 0px 0px 0px 1px,
    rgb(0 0 0 / 15%) 0px 8px 16px;
  --shadow-high: 0 1px 8px 8px rgb(0 0 0 / 50%);
  --sidebar-width: 320px;
  --font-family: -apple-system, system-ui, blinkmacsystemfont,
    'Segoe UI', roboto, oxygen, ubuntu, cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  font-family: var(--font-family);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 649.95px) {
  footer p,
  main h1,
  .age-unit span {
    transition-property: transform;
  }
}

[data-sidebar-open] {
  footer p,
  main h1,
  .age-unit span {
    @media (max-width: 649.95px) {
      transform: scale(0.8);
    }

    @media (max-width: 599.95px) {
      transform: scale(0.65);
    }

    @media (max-width: 549.95px) {
      transform: scale(0.5);
    }
  }
}
